.tituloSeccion h1 {
  text-align: center;
  padding: 100px;
  color: #f371de;
  font-size: 60px; }

form {
  margin: auto; }
  form legend {
    background-color: #771466; }
  form .contacto {
    background-image: url(../img/img_formNombre.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #ddd;
    height: fit-content; }
  form .contacto__fieldsetNombre {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2% 19% 19% 19% 19% 19%;
    grid-template-areas: "legendN       legendN" "nombreL      nombre" "pronombreL   pronombre" "nacimientoL  nacimiento" "emailL       email" "suscripcionL suscripcion";
    justify-content: space-around; }
    form .contacto__fieldsetNombre #legendNombre {
      grid-area: legendN; }
    form .contacto__fieldsetNombre #nombreL {
      grid-area: nombreL; }
    form .contacto__fieldsetNombre #nombre {
      grid-area: nombre; }
    form .contacto__fieldsetNombre #pronombreL {
      grid-area: pronombreL; }
    form .contacto__fieldsetNombre .listaPronombres {
      grid-area: pronombre; }
    form .contacto__fieldsetNombre #nacimientoL {
      grid-area: nacimientoL; }
    form .contacto__fieldsetNombre #nacimiento {
      grid-area: nacimiento; }
    form .contacto__fieldsetNombre #emailL {
      grid-area: emailL; }
    form .contacto__fieldsetNombre #email {
      grid-area: email; }
    form .contacto__fieldsetNombre #suscripcionL {
      grid-area: suscripcionL; }
    form .contacto__fieldsetNombre .form-check {
      grid-area: suscripcion; }
  form .contacto__fieldsetContacto {
    background-image: url(../img/img_formNombre.png);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px; }
  form textarea {
    font-family: "Merriweather", serif;
    border: none;
    border-radius: 5px;
    background-color: #949494;
    color: #0f0f1d; }

@media only screen and (max-width: 800px) {
  form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 90%; }
    form .contacto__fieldsetNombre {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 40px; }
    form .contacto__fieldsetContacto {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 40px; } }

@media only screen and (min-width: 801px) {
  form {
    max-width: 80%;
    padding-bottom: 100px;
    font-size: 20px; }
    form legend {
      font-size: 25px;
      padding: 5px;
      border-radius: 5px;
      width: 80%; }
    form fieldset {
      border-width: 3px;
      border-radius: 5px;
      padding: 10px;
      margin: 50px; }
      form fieldset label {
        padding: 15px; }
      form fieldset .contacto__grid--fieldsetNombre {
        margin-bottom: 5px;
        grid-area: nombreFieldset;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-areas: "nombreL        nombre" "pronombreL     pronombre" "nacimientoL    nacimiento" "emailL         email" "suscripcionL   suscripcion"; }
        form fieldset .contacto__grid--fieldsetNombre #nombreL {
          grid-area: nombreL;
          padding: 8px; }
        form fieldset .contacto__grid--fieldsetNombre #nombre {
          grid-area: nombre;
          font: 25px;
          padding: 8px;
          margin: 10px;
          width: 300px; }
        form fieldset .contacto__grid--fieldsetNombre #pronombreL {
          grid-area: nombreL;
          padding: 8px; }
        form fieldset .contacto__grid--fieldsetNombre .listaPronombres {
          grid-area: pronombre;
          font: 25px;
          padding: 8px;
          margin: 10px;
          width: 300px; }
        form fieldset .contacto__grid--fieldsetNombre #nacimientoL {
          grid-area: nacimientoL;
          padding: 8px; }
        form fieldset .contacto__grid--fieldsetNombre #nacimiento {
          grid-area: nacimiento;
          font: 25px;
          padding: 8px;
          margin: 10px;
          width: 160px;
          margin-left: 100px; }
        form fieldset .contacto__grid--fieldsetNombre #emailL {
          grid-area: emailL;
          padding: 8px; }
        form fieldset .contacto__grid--fieldsetNombre #email {
          grid-area: email;
          font-size: 25px;
          padding: 8px;
          margin: 10px;
          width: 300px; }
        form fieldset .contacto__grid--fieldsetNombre .form-check {
          align-items: baseline; }
          form fieldset .contacto__grid--fieldsetNombre .form-check #flexSwitchCheckChecked {
            position: relative;
            left: 100px; }
      form fieldset .contacto__grid--fieldsetContacto {
        background-image: url(../img/img_formNombre.png);
        grid-area: contactoFieldset; }
        form fieldset .contacto__grid--fieldsetContacto #motivoconsulta {
          padding: 8px;
          border-radius: 3px;
          margin: 10px;
          width: 300px; }
        form fieldset .contacto__grid--fieldsetContacto textarea {
          border-radius: 5px;
          margin: 10px;
          width: 800px;
          height: 200px; }
      form fieldset--fieldsetBotones {
        grid-area: botonesFieldset; }
        form fieldset--fieldsetBotones .enviar {
          font-size: 20px;
          padding: 20px;
          border-radius: 15px;
          margin: 10px;
          width: 100px; }
        form fieldset--fieldsetBotones #reset {
          font-size: 20px;
          padding: 20px;
          border-radius: 15px;
          margin: 10px;
          width: 100px; } }

.contenido__externo {
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  text-align: center; }
  .contenido__externo h1 {
    text-align: center;
    letter-spacing: 5px;
    padding: 10px;
    margin-top: 100px;
    color: #f371de;
    font-size: 60px;
    padding-bottom: 40px; }
  .contenido__externo--Spotify {
    display: flex;
    flex-direction: column; }
    .contenido__externo--Spotify--SpotifyPlaylist {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 10px;
      min-height: 600px; }
    .contenido__externo--Spotify iframe {
      width: 260px;
      height: 500px;
      justify-content: space-between;
      margin: 15px;
      border-radius: 10px; }

@media only screen and (max-width: 400px) {
  h1.tituloSeccion {
    font-size: 40px; }
  .contenido__externo h3 {
    padding: 5px; }
  --Spotify iframe {
    margin: 10px; } }

.grilla__Index .astrodata_index {
  height: fit-content; }

.grilla__Index .queEsastrologia {
  background-clip: padding-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .grilla__Index .queEsastrologia h2 {
    text-align: center;
    letter-spacing: 5px;
    padding: 10px;
    margin-top: 60px;
    color: #f371de;
    font-size: 45px; }
  .grilla__Index .queEsastrologia p.parrafoIndex {
    padding-left: 60px;
    padding-right: 60px; }

.grilla__Index .secciondos_index {
  grid-area: seccion3;
  text-align: center; }
  .grilla__Index .secciondos_index .contenedor_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 30px; }
    .grilla__Index .secciondos_index .contenedor_cards .card-body {
      margin-bottom: .5rem;
      text-align: center;
      border-radius: 50px;
      margin: 10px;
      background-color: #949494;
      position: relative; }
      .grilla__Index .secciondos_index .contenedor_cards .card-body h5 {
        text-align: center;
        letter-spacing: 5px;
        padding: 5px;
        margin-top: auto;
        color: #771466;
        font-size: 25px; }

.grilla__Index #parasabermas {
  grid-area: seccion4;
  text-decoration: none;
  color: #ddd;
  text-align: center;
  align-items: center;
  justify-content: center; }
  .grilla__Index #parasabermas #parasabermas:hover {
    align-items: center; }

@media only screen and (max-width: 400px) {
  #imagen_index {
    width: 200px; }
  .div_main {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .div_main .astrodata_index {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      .div_main .astrodata_index h1 {
        text-align: center;
        letter-spacing: 5px;
        padding: 3px;
        margin-top: 60px;
        color: #f371de;
        font-size: 34px;
        font-weight: lighter; }
      .div_main .astrodata_index p {
        font-size: small;
        text-align: center;
        align-items: center; }
    .div_main .queEsastrologia {
      display: flex;
      flex-direction: column;
      padding-top: 30px;
      align-items: center; }
      .div_main .queEsastrologia h2 {
        text-align: center;
        letter-spacing: 5px;
        padding: 3px;
        margin-top: 60px;
        color: #f371de;
        font-size: 25px; }
      .div_main .queEsastrologia p {
        margin: 20px; }
    .div_main .secciondos_index {
      display: flex;
      flex-direction: column;
      font-size: small;
      padding-top: 20px;
      row-gap: 50px;
      align-items: center;
      justify-content: space-around; }
      .div_main .secciondos_index h3 {
        text-align: center;
        letter-spacing: 5px;
        padding: 20px 0px 10px 0px;
        margin-top: auto;
        color: #f371de;
        font-size: 20px; }
    .div_main #parasabermas {
      font-size: small;
      padding: 15px;
      margin: 15px; } }

@media only screen and (min-width: 401px) {
  .grilla__Index--main {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .grilla__Index--main .astrodata_index {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      .grilla__Index--main .astrodata_index h1 {
        text-align: center;
        letter-spacing: 5px;
        padding: 10px;
        margin-top: 60px;
        color: #f371de;
        font-size: 30px;
        padding-top: 20px; }
      .grilla__Index--main .astrodata_index .animate__fadeInUp {
        padding-top: 20px; }
    .grilla__Index--main .queEsastrologia {
      display: flex;
      flex-direction: column;
      padding-top: 30px;
      align-items: center; }
      .grilla__Index--main .queEsastrologia h2 {
        text-align: center;
        letter-spacing: 5px;
        padding: 3px;
        margin-top: 60px;
        color: #f371de;
        font-size: 25px; }
      .grilla__Index--main .queEsastrologia p {
        margin: 20px; }
    .grilla__Index--main .secciondos_index {
      display: flex;
      flex-direction: column;
      font-size: small;
      padding-top: 20px;
      row-gap: 50px;
      align-items: center;
      justify-content: space-around; }
      .grilla__Index--main .secciondos_index h3 {
        text-align: center;
        letter-spacing: 5px;
        padding: 20px 0px 10px 0px;
        margin-top: auto;
        color: #f371de;
        font-size: 20px; }
    .grilla__Index--main #parasabermas {
      font-size: small;
      padding: 15px;
      margin: 15px; } }

@media only screen and (min-width: 600px) {
  .astrodata_index {
    max-height: 600px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 70% 1%;
    grid-template-areas: "Seccion1-1_Index Seccion1-2_Index" "Seccion1-3_Index Seccion1-2_Index";
    align-items: baseline;
    width: 90%; }
    .astrodata_index h1 {
      grid-area: Seccion1-1_Index;
      text-align: center;
      letter-spacing: 5px;
      padding: 10px;
      margin-top: 60px;
      color: #f371de;
      font-size: 60px;
      font-weight: lighter;
      align-items: flex-start;
      position: relative;
      bottom: 390px; }
    .astrodata_index .animate__fadeInRight {
      grid-area: Seccion1-2_Index;
      position: relative;
      bottom: 60px; }
    .astrodata_index .animate__fadeInUp {
      grid-area: Seccion1-3_Index;
      font-size: large;
      width: 80%;
      text-align: center;
      padding: 10px 20px 10px 30px;
      margin: 10px;
      align-items: flex-end;
      position: relative;
      bottom: 150px;
      left: 50px; }
  .queEsastrologia h2 {
    text-align: center;
    letter-spacing: normal;
    padding: 20px 0px 10px 0px;
    margin-top: auto;
    color: #f371de;
    font-size: 30px;
    margin: auto;
    padding-bottom: 20px; }
  .secciondos_index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .secciondos_index h3 {
      text-align: center;
      letter-spacing: normal;
      padding: 20px 0px 10px 0px;
      margin-top: auto;
      color: #f371de;
      font-size: 30px;
      margin: auto;
      padding-bottom: 20px; }
  #parasabermas {
    font-size: 25px;
    padding: 15px;
    margin: 15px; } }

@media only screen and (min-width: 1000px) {
  .astrodata_index {
    grid-area: seccion1;
    margin-top: 60px;
    padding-top: 60px; }
    .astrodata_index h1 {
      grid-area: Seccion1-1_Index;
      text-align: center;
      letter-spacing: 5px;
      padding: 10px;
      margin-top: 60px;
      color: #f371de;
      font-size: 120px;
      font-weight: lighter;
      align-items: flex-start;
      position: relative;
      bottom: 500px; }
    .astrodata_index .animate__fadeInRight {
      grid-area: Seccion1-2_Index;
      position: relative;
      bottom: 150px;
      right: 40px; }
    .astrodata_index .animate__fadeInUp {
      grid-area: Seccion1-3_Index;
      font-size: large;
      width: 80%;
      text-align: center;
      padding: 10px 20px 10px 30px;
      margin: 10px;
      align-items: flex-end;
      position: relative;
      bottom: 150px;
      left: 50px; }
  .queEsastrologia {
    padding-top: 10px;
    text-align: center; }
    .queEsastrologia h2 {
      text-align: center;
      letter-spacing: 5px;
      padding: 10px;
      margin-top: 60px;
      color: #f371de;
      font-size: 40px;
      padding-bottom: 30px; }
    .queEsastrologia p.parrafoIndex {
      margin-top: 30px;
      padding-left: 60px;
      padding-right: 60px; }
  .secciondos_index h3 {
    text-align: center;
    letter-spacing: 5px;
    padding: 10px;
    margin-top: 60px;
    color: #f371de;
    font-size: 40px; }
  .secciondos_index .contenedor_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
    .secciondos_index .contenedor_cards .card-body {
      text-align: center;
      justify-content: center; }
      .secciondos_index .contenedor_cards .card-body .btn {
        align-self: baseline; } }

.biografia {
  background-image: url(../img/quienSoyfondo.png);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  padding: 20px;
  text-align: center; }
  .biografia h1 {
    text-align: center;
    letter-spacing: 5px;
    padding: 10px;
    margin-top: 10px;
    color: #f371de;
    font-size: 45px;
    margin-bottom: 58px; }

@media only screen and (max-width: 400px) {
  .biografia {
    background-image: url(../img/quienSoyfondo400px.png);
    padding: 20px;
    margin-bottom: 50px; }
    .biografia h1 {
      font-size: 30px;
      padding-top: 70px;
      margin-bottom: 58px; }
    .biografia p {
      font-size: 15px; } }

@media only screen and (min-width: 401px) {
  .biografia {
    padding: 20px;
    margin-bottom: 50px; }
    .biografia h1 {
      font-size: 30px;
      padding-top: 90px; }
    .biografia p {
      padding: 10px;
      font-size: 15px; } }

@media only screen and (min-width: 600px) {
  .biografia {
    background-image: url(../img/quienSoyfondo600px.png);
    padding: 20px;
    margin-bottom: 50px; }
    .biografia h1 {
      font-size: 50px;
      padding-top: 90px; }
    .biografia p {
      padding: 10px;
      font-size: 20px; } }

@media only screen and (min-width: 1000px) {
  .biografia {
    padding: 20px;
    margin-bottom: 50px; }
    .biografia h1 {
      font-size: 90px;
      padding-top: 110px; }
    .biografia p {
      padding: 20px;
      font-size: 40px; } }

section#serviciosIntro h1#tituloSeccion {
  text-align: center;
  letter-spacing: 5px;
  padding: 10px;
  margin-top: 60px;
  color: #f371de; }

section#serviciosIntro ul li {
  text-align: center;
  list-style-type: none;
  padding: 5px;
  margin: auto;
  color: #ddd;
  font-size: 20px;
  color: #949494;
  font-size: 15px;
  font-style: italic; }

section#serviciosIntro #aclaracionCovid {
  color: #949494;
  font-size: 10px;
  font-style: italic; }

.seccion_Servicios {
  align-items: center;
  text-align: center; }
  .seccion_Servicios #talleresLink, .seccion_Servicios #consultoriaLink {
    color: #ffef78;
    text-align: center;
    font-size: 50px; }
  .seccion_Servicios table {
    margin-left: auto;
    margin-right: auto; }
    .seccion_Servicios table tr th {
      color: #ddd;
      font-size: 20px;
      margin: auto;
      text-align: center;
      border-collapse: collapse;
      border-bottom: 1px solid #ddd;
      border-top: 1px solid #ddd; }
    .seccion_Servicios table tr td {
      color: #ddd;
      font-size: 12px; }
      .seccion_Servicios table tr td button a {
        color: #ffef78;
        text-decoration: none; }
      .seccion_Servicios table tr td .content {
        padding: 18px;
        display: none;
        overflow: hidden;
        width: auto; }
        .seccion_Servicios table tr td .content ul {
          text-align: center;
          list-style-type: circle;
          padding: 1px;
          margin: auto;
          color: #ddd;
          font-size: 10px;
          width: 100%; }

#aclaracionesServicios {
  margin: auto;
  text-align: center;
  font-style: italic;
  color: #949494;
  font-size: 15px; }
  #aclaracionesServicios p {
    font-size: 15px; }

@media only screen and (max-width: 400px) {
  .section#serviciosIntro h1#tituloSeccion {
    padding-top: 100px;
    font-size: 40px;
    text-align: center; }
  .section#serviciosIntro li {
    color: #949494;
    font-size: 15px;
    font-style: italic; }
  .section#serviciosIntro #aclaracionCovid {
    margin-top: 50px;
    margin-bottom: 80px;
    align-items: center; }
  .seccion_Servicios #talleresLink, .seccion_Servicios #consultoriaLink {
    padding: 30px;
    margin: 100px 0px 40px;
    font-size: 30px;
    text-align: center; }
  .seccion_Servicios #consultoriaLink {
    padding: 10px;
    margin: 100px 0px 40px;
    font-size: 30px;
    text-align: center; }
  .seccion_Servicios table tr th {
    padding: 10px;
    font-size: 10px; }
  .seccion_Servicios table tr td {
    padding: 10px;
    font-size: 10px; }
  #aclaracionesServicios {
    padding-top: 40px;
    padding-bottom: 80px; }
    #aclaracionesServicios p {
      padding: 10px; } }

@media only screen and (min-width: 401px) {
  .serviciosIntro #tituloSeccion {
    font-size: 40px; }
  .serviciosIntro ul li {
    text-align: center;
    list-style-type: none;
    padding: 5px;
    margin: auto;
    color: #ddd;
    font-size: 20px;
    color: #949494;
    font-size: 15px;
    font-style: italic; }
  .serviciosIntro #aclaracionCovid {
    margin-top: 50px;
    margin-bottom: 80px; }
  .seccion_Servicios #talleresLink, .seccion_Servicios #consultoriaLink {
    padding: 30px;
    margin: 100px 0px 40px;
    font-size: 30px; }
  .seccion_Servicios #consultoriaLink {
    padding: 10px;
    margin: 100px 0px 40px;
    font-size: 30px; }
  .seccion_Servicios table tr td {
    padding: 2px;
    font-size: 15px; }
  .seccion_Servicios table tr th {
    padding: 2px;
    font-size: 15px; }
  #aclaracionesServicios {
    padding-top: 40px;
    padding-bottom: 80px; }
    #aclaracionesServicios p {
      padding: 10px; } }

@media only screen and (min-width: 600px) {
  section#serviciosIntro h1#tituloSeccion {
    text-align: center;
    letter-spacing: 5px;
    padding: 10px;
    margin-top: 60px;
    color: #f371de;
    font-size: 60px; }
  section#serviciosIntro ul li {
    text-align: center;
    list-style-type: none;
    padding: 5px;
    margin: auto;
    color: #ddd;
    font-size: 20px;
    color: #949494;
    font-size: 15px;
    font-style: italic; }
  section#serviciosIntro #aclaracionCovid {
    color: #949494;
    font-size: 10px;
    font-style: italic; }
  .seccion_Servicios #talleresLink, .seccion_Servicios #consultoriaLink {
    padding: 10px;
    margin: 100px 0px 40px;
    font-size: 50px; }
  .seccion_Servicios #consultoriaLink {
    padding: 10px;
    margin: 100px 0px 40px;
    font-size: 50px; }
  .seccion_Servicios table tbody {
    margin-left: auto;
    margin-right: auto; }
    .seccion_Servicios table tbody tr td {
      width: 225px;
      padding: 10px;
      font-size: 20px; }
      .seccion_Servicios table tbody tr td ul li {
        font-size: 15px; }
    .seccion_Servicios table tbody tr th {
      max-width: 285px;
      padding: 30px;
      font-size: 25px; }
  #aclaracionesServicios {
    padding-top: 40px;
    padding-bottom: 80px;
    font-size: 15px; }
    #aclaracionesServicios p {
      padding: 10px;
      font-size: 15px; } }

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

body {
  background-image: url(../img/nav.png);
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  font-variant: initial; }
  body .navbar {
    height: 0%; }
    body .navbar .container-fluid {
      position: fixed;
      padding-top: 4rem;
      height: fit-content;
      padding-top: 20px;
      background-image: url(../img/nav.png); }
      body .navbar .container-fluid .navbar-collapse.collapse.show {
        padding-top: 5rem; }
      body .navbar .container-fluid #logo {
        padding: 10px;
        padding-right: 20px; }
  body p {
    color: #ddd;
    font-size: 20px;
    text-align: center;
    text-decoration: none; }
  body a {
    text-decoration: none; }
  body button {
    background-color: #fcf2a700;
    padding: 10px 20px 10px 20px;
    border-color: #f371de;
    border-radius: 50px;
    color: #ffef78;
    text-align: center; }
  body button:hover {
    color: #ffef78;
    background-color: #771466; }
  body #reset {
    background-color: #fcf2a700;
    padding: 10px 20px 10px 20px;
    border-color: #f371de;
    border-radius: 50px;
    color: #ffef78;
    text-align: center; }
  body #reset:hover {
    color: #ffef78;
    background-color: #771466; }
  body .redes_footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 15px 10px 15px;
    row-gap: 10px; }
    body .redes_footer .fa {
      margin: 20px 15px 10px 15px;
      color: #ffef78da; }
      body .redes_footer .fa .fa:hover {
        opacity: 1; }
    body .redes_footer p {
      color: #ffef78da; }
    body .redes_footer a {
      color: #ffef78da; }

@media only screen and (max-width: 400px) {
  .navbar .navbar-brand {
    visibility: hidden; }
  .redes_footer p {
    font-size: 10px; }
  .redes_footer a {
    font-size: 10px; }
  .iconos {
    font-size: 16px; }
  button {
    background-color: #fcf2a700;
    padding: 2px 5px 2px 5px;
    border-color: #f371de;
    border-radius: 25px;
    color: #ffef78;
    text-align: center;
    font-size: 10px; }
  button:hover {
    color: #ffef78;
    background-color: #771466; } }

@media only screen and (min-width: 401px) {
  .redes_footer p {
    font-size: 10px;
    padding: 10px; }
  .redes_footer a {
    font-size: 10px; }
  .iconos {
    font-size: 16px; } }

@media only screen and (min-width: 600px) {
  .redes_footer p {
    font-size: 15px;
    padding: 40px; }
  .redes_footer a {
    font-size: 15px; }
  .iconos {
    font-size: 16px; } }

@media only screen and (min-width: 1000px) {
  .redes_footer p {
    font-size: 15px;
    padding: 20px; }
  .redes_footer a {
    font-size: 15px; }
  .iconos {
    font-size: 16px; } }
