
/*--------------------------------------------------MEDIA QUERY------------------------------------------------------------*/


@media only screen and (min-width: 401px){

    /*-------------------------------------INDEX---------------------------------*/
    .grilla__Index--main {
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    .astrodata_index{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    .astrodata_index h2{
      font-size: 34px;
      align-items: center;
      font-weight: lighter;
      letter-spacing: 5px;
    }
    .astrodata_index p{
      font-size: small;
      width: 80%;
      text-align: center;
      align-items: center;
    }
    .queEsastrologia{
      display: flex;
      flex-direction: column;
      padding-top: 30px;
      align-items: center;
    }
    .queEsastrologia p{
      text-align: center;
    }
    .queEsastrologia h2{
      letter-spacing: 5px;
    }
    .secciondos_index{
      display: flex;
      flex-direction: column;
      font-size: small;
      padding-top: 20px;
      row-gap: 50px;
      align-items: center;
      justify-content: space-around;
    }
    .secciondos_index h3 {
      letter-spacing: 5px;
      font-size: 20px;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 10px;
      width: 80%;
      margin: auto;
    }
    #parasabermas{
      font-size: small;
      padding: 15px;
      margin: 15px;
    }


  /*------------------------------------- QUIEN SOY ------------------------------------*/

  .biografia {
    background-image: url(../img/quienSoyfondo400px.png);
    padding: 20px;
    margin-bottom: 50px;
  }
  .biografia h2{
    font-size: 30px;
    padding-top: 90px;
  }
  .biografia p {
    padding: 10px;
    font-size: 15px;
  }


  

    /*------------------------------------- SERVICIOS ------------------------------------*/  

    .serviciosIntro h2{
      padding-top: 100px;
      font-size: 40px;
    }
    #aclaracionCovid {
      margin-top: 50px;
      margin-bottom: 80px;
    }
    #talleresLink {
      padding: 30px;
      margin: 100px 0px 40px;
      font-size: 30px;
    }
    #consultoriaLink {
      padding: 10px;
      margin: 100px 0px 40px;
      font-size: 30px;
    }
    table, tr, td, th {
      max-width: 80%;
    }
    table li {
      padding: 10px;
    }
    td{
      padding: 10px;
      font-size: 15px;
    }
    th {
      padding: 10px;
      font-size: 15px;
    }
    #aclaracionesServicios {
      padding-top: 40px;
      padding-bottom: 80px;
      max-width: 60%;
    }
    #aclaracionesServicios p {
      padding: 10px;
    }
  }
@media only screen and (min-width: 600px){
  h1{
    font-size: 50px;
  }  
  h2{
    font-size: 35px;
  }

/*-----------------------------------------INDEX------------------------------------*/

  .astrodata_index{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 70% 30%;
    grid-template-areas: "Seccion1-1_Index Seccion1-2_Index"
                         "Seccion1-3_Index Seccion1-2_Index";
    align-items: baseline;  
    width: 90%;                 
  }
  .astrodata_index h2{
    grid-area: Seccion1-1_Index;
    font-size: 55px;
    align-items: center;
    font-weight: lighter;
    text-align:left;
    padding: 10px;
  }
  .astrodata_index p{
    grid-area: Seccion1-3_Index;
    font-size: large;
    width: 80%;
    text-align: center;
    padding-top: 5px;
  }
  .queEsastrologia{
    padding-top: 50px;

  }
  .secciondos_index{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: baseline;
  }
  .secciondos_index h3 {
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 80%;
    margin: auto;
  }
  #parasabermas{
    font-size: 25px;
    padding: 15px;
    margin: 15px;
  }


  /*------------------------------------- QUIEN SOY ------------------------------------*/

  .biografia {
    background-image: url(../img/quienSoyfondo600px.png);
    padding: 20px;
    margin-bottom: 50px;
  }
  .biografia h2{
    font-size: 50px;
    padding-top: 90px;
  }
  .biografia p {
    padding: 10px;
    font-size: 20px;
  }


  /*------------------------------------- SERVICIOS ------------------------------------*/  

  .serviciosIntro p li{
    font-size: 20px;
  }
  .serviciosIntro h2{
    padding-top: 100px;
  }
  #aclaracionCovid {
    margin-top: 50px;
    margin-bottom: 80px;
    font-size: 15px;
  }
  #talleresLink {
    padding: 10px;
    margin: 100px 0px 40px;
    font-size: 50px;
  }
  #consultoriaLink {
    padding: 10px;
    margin: 100px 0px 40px;
    font-size: 50px;
  }
  table, tr, td, th {
    max-width: 80%;
    font-size: 20px;
  }
  table li {
    padding: 10px;
  }
  td{
    padding: 30px;
  }
  th {
    padding: 30px;
  }
  #aclaracionesServicios {
    padding-top: 40px;
    padding-bottom: 80px;
    max-width: 60%;
    font-size: 15px;
  }
  #aclaracionesServicios p {
    padding: 10px;
    font-size: 15px;
  }


}
@media only screen and (min-width: 1000px){

/*-------------------------------------INDEX---------------------------------*/
  .astrodata_index{
    grid-area: seccion1;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 70% 30%;
    grid-template-areas: "Seccion1-1_Index Seccion1-2_Index"
                         "Seccion1-3_Index Seccion1-2_Index";
    margin-top: 40px;
  }
  .astrodata_index h2{
    grid-area: Seccion1-1_Index;
    font-size: 120px;
    align-items: top;
    font-weight: lighter;
    text-align:left;
    padding: 10px;
    margin-bottom: 5px;
  }
  #imagen_index{
    grid-area:  Seccion1-2_Index;
  }
  .astrodata_index p{
    grid-area: Seccion1-3_Index;
    font-size: large;
    width: 80%;
    text-align: center;
    padding: 10px 20px 10px 30px;
  }
  .queEsastrologia{
    padding-top: 50px;
  }
  .contenedor_cards{
    display: flex;
    justify-content: space-evenly;
  }
  .card-body{
    width: 300px;
  }
  #parasabermas{
    grid-area: seccion4;
    font-size: 20px;
    padding: 15px;
    margin: 15px;
  }


  /*------------------------------------- QUIEN SOY ------------------------------------*/

  .biografia {
    padding: 20px;
    margin-bottom: 50px;
  }
  .biografia h2{
    font-size: 90px;
    padding-top: 110px;
  }
  .biografia p {
    padding: 20px;
    font-size: 40px;
  }

  /*---------------------------------- CONTACTO -----------------------------------*/
  form {
    max-width: 80%;
    padding-bottom: 100px;
    font-size: 20px;
  }
  
  legend {
    font-size: 25px;
    padding: 10%;
    border-radius: 50px;
  }

  
  fieldset {
    border-width: 3px;
    border-radius: 5px;
  }
  
  .contacto__grid--fieldsetNombre {
    margin-bottom: 50px;
    grid-area: nombreFieldset;
  }
  
  .contacto__grid--fieldsetContacto {
    background-image: url(../img/img_formNombre.png);
    grid-area: contactoFieldset;
  }
  
  #nombre {
    font: 25px;
    padding: 4px;
    margin: 10px;
    width: 300px;
  }
  
  .form-select{
    font: 25px;
    padding: 4px;
    margin: 10px;
    width: 300px;
  }
  
  #nacimiento {
    font: 25px;
    padding: 4px;
    margin: 10px;
    width: 160px;
    margin-left: 100px;
  }
  
  #email {
    font-size: 25px;
    padding: 4px;
    margin: 10px;
    width: 300px;
  }
  #motivoconsulta {
    padding: 4px;
    border-radius: 3px;
    margin: 10px;
    width: 300px;
  }
  textarea {
    border-radius: 5px;
    margin: 10px;
    width: 400px;
    height: 200px;
  }
  .contacto__grid--fieldsetBotones{
      grid-area: botonesFieldset;
  }
  #reset {
    font-size: 20px;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
  }
  .enviar {
    font-size: 20px;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
  }
}