* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

body {
  background-image: url(../img/ep_naturalblack.png);
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  font-variant: initial;
  width: 100%; }
