@import "variables.scss";

h1{
  @include  titulos(center, none, 100px, none, $colorAlternativoUno, 50px);
}

form {
    margin: auto;
  legend {
    background-color: $colorAlternativoTres;
  }
  .contacto{
      display: flex;
      flex-direction: column;
      justify-content:center;
      text-align: center;
      align-items: center;
      color: $colorParrafo;
      height: fit-content;
  }
  .contacto__fieldsetNombre {
    background-image: url(../img/img_formNombre.png);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2% 19% 19% 19% 19% 19%;
    grid-template-areas: "legendN       legendN"
                         "nombreL      nombre"
                         "pronombreL   pronombre"
                         "nacimientoL  nacimiento"
                         "emailL       email"
                         "suscripcionL suscripcion";
    justify-content: space-around;
    #legendNombre{
      grid-area: legendN;
    }
    #nombreL{
      grid-area: nombreL;
    }
    #nombre {
      grid-area: nombre;
    }
    #pronombreL {
      grid-area: pronombreL;
    }
    .listaPronombres {
      grid-area: pronombre;
    }
    #nacimientoL{
      grid-area: nacimientoL;
    }
    #nacimiento{
      grid-area: nacimiento;
    }
    #emailL{
      grid-area: emailL;
    }
    #email{
      grid-area: email;
    }
    #suscripcionL{
      grid-area: suscripcionL;
    }
    .form-check{
      grid-area: suscripcion;
    }
  }
  .contacto__fieldsetContacto {
    background-image: url(../img/img_formNombre.png);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  textarea {
    font: "Merriweather", serif;
    border: none;
    border-radius: 5px;
    background-color: $colorAclaraciones;
    color: $colorAlternativoCuatro;
  }
  .contacto__fieldsetBotones{
    #enviar{
      background-color: $colorParrafo;
      color: $colorAlternativoCinco;
      font-family: "Merriweather", serif;
      border: none;
      border-radius: 15px;
      padding: 5px;
    }
    #reset {
      background-color: $colorParrafo;
      color: $colorAlternativoCinco;
      font-family: "Merriweather", serif;
      border: none;
      border-radius: 15px;
      padding: 5px;
    }
    #enviar:hover{
      background-color: $colorAlternativoDos;
    }
    #reset:hover{
      background-color: $colorAlternativoDos;
    }
    #enviar:active{
      background-color: $colorAlternativoUno;
    }
    #reset:active {
      background-color: $colorAlternativoUno;
    }
    .modal-title{
      color: $colorAlternativoCuatro;
    }
    .modal-body{
      color: $colorAlternativoCuatro;
    }
  }
}

@media only screen and (max-width: 800px){
  form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 90%;
    .contacto__fieldsetNombre {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 40px;
    }
    .contacto__fieldsetContacto{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 40px;
    }
    
  }
}

@media only screen and (min-width: 801px){

  form {
    max-width: 80%;
    padding-bottom: 100px;
    font-size: 20px;
    legend {
      font-size: 25px;
      padding: 5px;
      border-radius: 5px;
      width: 80%;
    }  
    fieldset {
      border-width: 3px;
      border-radius: 5px;
      padding: 10px;
      margin: 50px;
      label{
        padding: 15px;
      }
      .contacto__grid{
        &--fieldsetNombre {
          margin-bottom: 5px;
          grid-area: nombreFieldset;
          display: grid;
          grid-template-columns: 50% 50%;
          grid-template-columns: 20% 20% 20% 20% 20%;
          grid-template-areas: "nombreL        nombre"
                              "pronombreL     pronombre"
                              "nacimientoL    nacimiento"
                              "emailL         email"
                              "suscripcionL   suscripcion";
          #nombreL{
            grid-area: nombreL;
          }
          #nombre {
            grid-area: nombre;
            font: 25px;
            padding: 4px;
            margin: 10px;
            width: 300px;
          }
          #pronombreL{
            grid-area: nombreL;
          }
          .listaPronombres{
            grid-area: pronombre;
            font: 25px;
            padding: 4px;
            margin: 10px;
            width: 300px;
          }
          #nacimientoL{
            grid-area: nacimientoL;
          }
          #nacimiento {
            grid-area: nacimiento;
            font: 25px;
            padding: 4px;
            margin: 10px;
            width: 160px;
            margin-left: 100px;
          }
          #emailL{
            grid-area: emailL;
          }
          #email {
            grid-area: email;
            font-size: 25px;
            padding: 4px;
            margin: 10px;
            width: 300px;
          }
          .form-check{
            align-items: baseline;
            #flexSwitchCheckChecked{
              position: relative;
              left: 100px;
            }
          }  
        }
      }  
      .contacto__grid--fieldsetContacto {
        background-image: url(../img/img_formNombre.png);
        grid-area: contactoFieldset;
        #motivoconsulta {
          padding: 8px;
          border-radius: 3px;
          margin: 10px;
          width: 300px;
        }
        textarea {
          border-radius: 5px;
          margin: 10px;
          width: 800px;
          height: 200px;
        }
      }
      &--fieldsetBotones{
        grid-area: botonesFieldset;
        .enviar{
          font-size: 20px;
          padding: 20px;
          border-radius: 15px;
          margin: 10px;
          width: 100px;
        }
        #reset {
          font-size: 20px;
          padding: 20px;
          border-radius: 15px;
          margin: 10px;
          width: 100px;
        }
      }
    }
  }
}