@import "variables.scss";

.contenido__externo{
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    text-align: center;
    h3{
        background-color: #20485e69;
        border-radius: 15px;
    }
    .contenido__externo--Titulo{
        margin-top: 100px;
    }
    .contenido__externo--Spotify{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding-bottom: 100px;
        .contenido__externo--SpotifyPlaylist{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 10px;
            .contenido__externo--SpotifyPlaylist iframe{
                width: 260px;
                justify-content: space-between;
                margin: auto;
            }
        }    
    }
}





@media only screen and (max-width: 400px){
    .contenido__externo h3{
      padding: 5px;
    }
  
    .contenido__externo--Spotify iframe{
      margin-bottom: 20px;
    }
}
