@import "variables.scss";

.contenido__externo{
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    text-align: center;
    h1{        
        @include titulos(center, 5px, 10px, 100px, $colorAlternativoUno, 60px);
        padding-bottom: 40px;
    }
    &--Spotify{
        display: flex;
        flex-direction: column;
        &--SpotifyPlaylist{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 10px;
            min-height: 600px;
        }
        iframe{
            width: 260px;
             height: 500px;
            justify-content: space-between;
            margin: 15px;
            border-radius: 10px;
        }    
    }
}


@media only screen and (max-width: 400px){
    .contenido__externo h3{
      padding: 5px;
    }
  
    &--Spotify iframe{
      margin: 10px;
    }
}