@import"layout/_variables.scss";


.grilla__Index {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 34% 48% 8%;
    grid-template-areas: "seccion1"
                         "seccion2"
                         "seccion3"
                         "seccion4";
    .astrodata_index{
        grid-area: seccion1;
        align-items: baseline;
    }
    .queEsastrologia {
        grid-area: seccion2;
        background-clip: padding-box;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h2{
            @include titulos(center, 5px, 10px, 60px, $colorAlternativoUno, 45px);
        }
        p {
            text-align: inherit;
            padding: 30px;
            width: 80%;
        }
    }
    .secciondos_index {
        grid-area: seccion3;
        text-align: center;
        .card-body{
            text-align: center;
            margin: auto;
            border-radius: 50px;
            margin: 10px;
            background-color: rgba(221, 221, 221, 0.658);
        }
        h5{
            @include titulos(center, 5px, 5px, auto, $colorAlternativoTres, 25px)
        }        
    }
    #parasabermas{
        grid-area: seccion4;
        text-decoration: none;
        color: #e0efde;
        text-align: center;
        align-items: center;
        justify-content: center;
        #parasabermas:hover {
            text-decoration: underline;
            align-items: center;
          }
    }
}


@media only screen and (max-width: 400px){
    #imagen_index{
        width: 200px;
      }
    .grilla__Index--main {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .astrodata_index{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            h2{
                @include titulos(center, 5px, auto, auto, $colorAlternativoUno, 34px);
                font-weight: lighter;
            }
            p{
                font-size: small;
                width: 80%;
                text-align: center;
                align-items: center;
            }
        }
        .queEsastrologia{
            display: flex;
            flex-direction: column;
            padding-top: 30px;
            align-items: center;
        }
        .secciondos_index{
            display: flex;
            flex-direction: column;
            font-size: small;
            padding-top: 20px;
            row-gap: 50px;
            align-items: center;
            justify-content: space-around;
            h3 {
                @include titulos(center, 5px, 20px 0px 10px 0px, auto, $colorAlternativoUno, 20px);
            }
        }
        #parasabermas{
            font-size: small;
            padding: 15px;
            margin: 15px;
        }
    }
}

@media only screen and (min-width: 401px){
    .grilla__Index--main {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .astrodata_index{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
        
        .queEsastrologia{
            display: flex;
            flex-direction: column;
            padding-top: 30px;
            align-items: center;
        }
        .secciondos_index{
            display: flex;
            flex-direction: column;
            font-size: small;
            padding-top: 20px;
            row-gap: 50px;
            align-items: center;
            justify-content: space-around;
            h3 {
                @include titulos(center, 5px, 20px 0px 10px 0px, auto, $colorAlternativoUno, 20px);
                width: 80%;
            }
        }
        #parasabermas{
            font-size: small;
            padding: 15px;
            margin: 15px;
        }
    }
}

@media only screen and (min-width: 600px){
    .astrodata_index{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 70% 30%;
        grid-template-areas: "Seccion1-1_Index Seccion1-2_Index"
                            "Seccion1-3_Index Seccion1-2_Index";
        align-items: baseline;  
        width: 90%;
        h2{
            grid-area: Seccion1-1_Index;
            font-size: 55px;
            align-items: center;
            font-weight: lighter;
            text-align:left;
            padding: 10px;
        }
        p{
            grid-area: Seccion1-3_Index;
            font-size: large;
            width: 80%;
            text-align: center;
            padding-top: 5px;
          }                 
    }
    .queEsastrologia{
      padding-top: 50px;
    }
    .secciondos_index{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: baseline;
        h3 {
            @include titulos(center, none, 20px 0px 10px 0px, auto, $colorAlternativoUno, 50px);
            margin: auto;
          }
    }
    #parasabermas{
      font-size: 25px;
      padding: 15px;
      margin: 15px;
    }
}


@media only screen and (min-width: 1000px){
    .astrodata_index{
        grid-area: seccion1;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 70% 30%;
        grid-template-areas: "Seccion1-1_Index Seccion1-2_Index"
                            "Seccion1-3_Index Seccion1-2_Index";
        margin-top: 40px;
        h2{
            grid-area: Seccion1-1_Index;
            @include titulos(center, 5px, 10px, 60px, $colorAlternativoUno, 120px);
            font-weight: lighter;
        }
        #imagen_index{
            grid-area:  Seccion1-2_Index;
        }
        p{
            grid-area: Seccion1-3_Index;
            font-size: large;
            width: 80%;
            text-align: center;
            padding: 10px 20px 10px 30px;
        }
    }
    .queEsastrologia{
        padding-top: 50px;
    }
    .secciondos_index{
        .contenedor_cards{
            display: flex;
            justify-content: space-evenly;
          }
          .card-body{
            width: 300px;
          }
    }
    #parasabermas{
        grid-area: seccion4;
        font-size: 20px;
        padding: 15px;
        margin: 15px;
    }
}