@import "layout/_variables.scss";


.grilla__Index {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 34% 48% 8%;
    grid-template-areas: "seccion1"
                         "seccion2"
                         "seccion3"
                         "seccion4";
    .astrodata_index{
        grid-area: seccion1;
        align-items: baseline;
    }
    .queEsastrologia {
        grid-area: seccion2;
        background-clip: padding-box;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h2{
            @include titulos(center, 5px, 10px, 60px, #f371de, 45px);
        }
        p {
            text-align: inherit;
            padding: 30px;
            width: 80%;
        }
    }
    .secciondos_index {
        grid-area: seccion3;
        text-align: center;
        .card-body{
            text-align: center;
            margin: auto;
            border-radius: 50px;
            margin: 10px;
            background-color: rgba(221, 221, 221, 0.658);
        }
        h5{
            @include titulos(center, 5px, 5px, auto, $colorAlternativoTres, 25px)
        }        
    }
    #parasabermas{
        grid-area: seccion4;
        text-decoration: none;
        color: #e0efde;
        text-align: center;
        align-items: center;
        justify-content: center;
        #parasabermas:hover {
            text-decoration: underline;
            align-items: center;
          }
    }
}


@media only screen and (max-width: 400px){
    #imagen_index{
        width: 200px;
      }
    .grilla__Index--main {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .astrodata_index{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            h2{
                font-size: 34px;
                align-items: center;
                font-weight: lighter;
                letter-spacing: 5px;
            }
            p{
                font-size: small;
                width: 80%;
                text-align: center;
                align-items: center;
            }
        }
        .queEsastrologia{
            display: flex;
            flex-direction: column;
            padding-top: 30px;
            align-items: center;
        }
        .secciondos_index{
            display: flex;
            flex-direction: column;
            font-size: small;
            padding-top: 20px;
            row-gap: 50px;
            align-items: center;
            justify-content: space-around;
            h3 {
                letter-spacing: 5px;
                font-size: 20px;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 10px;
                margin: auto;
            }
        }
        #parasabermas{
            font-size: small;
            padding: 15px;
            margin: 15px;
        }
    }
}
