@import "variables";

.biografia {
    background-image: url(../img/quienSoyfondo.png);
    background-position: 100%;
    background-repeat: none;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    padding: 20px;
    text-align: center;
    h1{
        @include titulos(center, 5px, 10px, 10px, $colorAlternativoUno, 45px);
        margin-bottom: 58px;
    }
}

@media only screen and (max-width: 400px){

    .biografia {
        background-image: url(../img/quienSoyfondo400px.png);
        padding: 20px;
        margin-bottom: 50px;
        h1{
            font-size: 30px;
            padding-top: 70px;
            margin-bottom: 58px;
        }
        p {
            font-size: 15px;
        }
    }
}

@media only screen and (min-width: 401px){
    .biografia {
        padding: 20px;
        margin-bottom: 50px;
        h1{
            font-size: 30px;
            padding-top: 90px;
        }
        p {
            padding: 10px;
            font-size: 15px;
          }
      }
}

@media only screen and (min-width: 600px){

    .biografia {
        background-image: url(../img/quienSoyfondo600px.png);
        padding: 20px;
        margin-bottom: 50px;
        h1{
            font-size: 50px;
            padding-top: 90px;
        }
        p {
            padding: 10px;
            font-size: 20px;
        }
    }
}

@media only screen and (min-width: 1000px){
    .biografia {
        padding: 20px;
        margin-bottom: 50px;
        h1{
            font-size: 90px;
            padding-top: 110px;
        }
        p {
            padding: 20px;
            font-size: 40px;
        }
    }
} 