@import "variables.scss";


.serviciosIntro{
    h1{
        @include titulos(center, 5px, 10px, 100px, $colorAlternativoUno, 45px);
    }
    li{
        @include texto-parrafo(center, none, 5px, auto, $colorParrafo, 20px);
    }
    p{
        color: $colorAclaraciones;
        font-size: 15px;
        font-style: italic;
    }
    #aclaracionCovid{
        color: $colorAclaraciones;
        font-size: 10px;
        font-style: italic;
    }
}


.seccion_Servicios{
    align-items: center;
    text-align: center;
    #talleresLink {
        color: $colorAlternativoDos;
        text-align: center;
        font-size: 50px;
    }
    #consultoriaLink {
        @extend #talleresLink ;
    }
    table{
        align-items: center;
        tr{
            th {
                color: $colorParrafo;
                font-size: 20px;
                margin: auto;
                text-align: center;
                border-collapse: collapse;
                border-bottom: 1px solid $colorParrafo;
                border-top: 1px solid $colorParrafo;
            }
        }
        tr{
            td{
                a{
                    color: $colorAlternativoUno;
                    text-decoration: none;
                }
                a:hover {
                    text-decoration: underline;
                }
                .collapsible {
                    color: $colorAlternativoTres;
                    cursor: pointer;
                    padding: 18px;
                    width: 70px;
                    border: $colorAlternativoDos;
                    text-align: left;
                    outline: none;
                    font-size: 15px;
                    .content {
                    padding: 0 18px;
                    display: none;
                    overflow: hidden;
                    width: auto;
                    }
                    .collapsible:hover {
                        background-color: $colorAlternativoCinco;
                    }
                }
            }
        }
    }
}
#aclaracionesServicios {
    margin: auto;
    text-align: center;
    font-style: italic;
    color: $colorAclaraciones;
    font-size: 15px;
    p{
        font-size: 15px;
    }
}

@media only screen and (max-width: 400px){

    .serviciosIntro{
        h2{
            padding-top: 100px;
            font-size: 40px;
        }
        #aclaracionCovid {
            margin-top: 50px;
            margin-bottom: 80px;
        }
    }
    .seccion_Servicios{
        #talleresLink {
            padding: 30px;
            margin: 100px 0px 40px;
            font-size: 30px;
        }
        #consultoriaLink {
            padding: 10px;
            margin: 100px 0px 40px;
            font-size: 30px;
        }
        table{
            max-width: 80%;
            tr{
                th {
                    padding: 10px;
                    font-size: 15px;
                }
            }
            tr{
                td{
                    padding: 10px;
                    font-size: 15px;
                    li {
                        padding: 10px;
                      }
                }
            }
        }
    }   

    #aclaracionesServicios {
        padding-top: 40px;
        padding-bottom: 80px;
        max-width: 60%;
        p {
            padding: 10px;
          }
    }

}

@media only screen and (min-width: 401px){
    .serviciosIntro{
        h2{
            padding-top: 100px;
            font-size: 40px;
        }
        #aclaracionCovid {
            margin-top: 50px;
            margin-bottom: 80px;
        }
    }
    .seccion_Servicios{        
        #talleresLink {
            padding: 30px;
            margin: 100px 0px 40px;
            font-size: 30px;
        }
        #consultoriaLink {
            padding: 10px;
            margin: 100px 0px 40px;
            font-size: 30px;
        }
        table{
            max-width: 80%;
            li {
                padding: 10px;
            }
            tr{
                td{
                    padding: 10px;
                    font-size: 15px;
                }
            }
            tr{
                th {
                    padding: 10px;
                    font-size: 15px;
                }
            }
        }
    }
    #aclaracionesServicios {
        padding-top: 40px;
        padding-bottom: 80px;
        max-width: 60%;
        p {
            padding: 10px;
        }
    }
}

@media only screen and (min-width: 600px){
    .serviciosIntro{
        h2{
            padding-top: 100px;
        }
        li{
            font-size: 20px;
        }
        #aclaracionCovid {
            margin-top: 50px;
            margin-bottom: 80px;
            font-size: 15px;
        }
    }
    .seccion_Servicios{ 
        #talleresLink {
            padding: 10px;
            margin: 100px 0px 40px;
            font-size: 50px;
          }
          #consultoriaLink {
            padding: 10px;
            margin: 100px 0px 40px;
            font-size: 50px;
          }
          table{        
              max-width: 80%;
              font-size: 20px;
              li {
                  padding: 10px;
              }
              tr{
                  td{
                      padding: 30px;
                    }
              }
              tr{
                  th {
                      padding: 30px;
                    }
              }
          }
    }
    #aclaracionesServicios {
        padding-top: 40px;
        padding-bottom: 80px;
        max-width: 60%;
        font-size: 15px;
        p {
            padding: 10px;
            font-size: 15px;
        }
    }  
}